.myVenv/
staticfiles/*

db.sqlite3
secret_key.txt

**/__pycache__/
**/migrations/

# Make exceptions
!staticfiles/media/
!staticfiles/product_images/
!staticfiles/css/
!staticfiles/js/
!staticfiles/webfonts/
!staticfiles/cart/
!staticfiles/login/


#ignored the files, without directly ignoring the folder
staticfiles/product_images/** 


