asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
Django==5.2
idna==3.10
jsons==1.6.3
pycparser==2.22
requests==2.32.3
shortuuid==1.0.13
sqlparse==0.5.3
typing_extensions==4.13.1
typish==1.9.3
urllib3==2.3.0
uuid==1.30
